/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
ul.gallery{
  max-width: 1214px;
  height: auto;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid maroon;
}

 .card{
        width: 200px;
        height: auto;
        background-color: rgb(135, 134, 134);
        border: 2px dashed gold;
      }