.container_pag{
    margin: 0 auto;
    border: 3px solid gold;
    width: 500px;
}

.tui-pagination{
    border: 2px dashed rgb(255, 34, 0);
    width: 350px;
    display: flex;
}

.box03{
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    color: #fff;
  
    border-radius: 5px;
    margin-left: 0;
    padding: 9px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #ff6b08;
    border-color: #ff6b08;
   
}

.box04{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 200, 255);
    color: rgb(0, 221, 255);
}

.box05{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 191, 0);
    color: rgb(255, 255, 0);
}

.box06{
   
    border: 1px solid rgb(51, 175, 2);
    color: rgb(85, 255, 0);
}

.box07{
   
    border: 1px solid rgb(143, 2, 175);
    color: rgb(204, 0, 255);
}