.switch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]{
    position: relative;
    width: 80px;
    height: 40px;
    appearance: none; 
    background-color: #953b3b;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input[type="checkbox"]:checked{
    background: #858686;
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]:before{
    left: 40px;
}